body {
  background-color: #abb1ab;
  font-family: 'Lato', sans-serif;

}

.vertical {
  min-height: 100%;
  min-height: 100vh;
  background-color: #c2c0c0;
  box-shadow: 0 0 5px 5px  #696969;
}

.navbar{
  background-color:#E53D00;
  color: #F6E8EA !important;
  font-size: 1.5em;
  margin-right:-15px;
  margin-left: -15px;
}

.aboutlink, .projectlink, .contactlink {
  color: #F6E8EA;
  font-family: 'Unica One', cursive;
  font-size: 1.5em;
  font-weight: 300;
  padding: 30px;
}


.vanida {
  float:left;
  margin-right:20px;
  margin-top: 30px;
  border: 3px solid #E53D00;
}

.bio {
  margin-top: 15%;
}

.paragraph {
  padding:30px;
  margin-top:5px;
  font-size:1.2em;
}


.project {
  margin: 15px 10px 20px 5px;
}

.weathertext {
  margin-top: 10%;
}

.codetext {
  margin-top: 22%;
}

.codeimg {
  margin-top:20%;

}

.mixtapeimg {
  margin-top: 10%;
}

.mixtapetext {
  margin-top: 20%;
}

.title {
  font-weight: bolder !important;
  font-size: 2em;
}

Button{
  padding: 10px
}

.contactinfo {
  font-size: 1.8em;
  margin-top:-40px;
}

.none {
  list-style-type: none;
  margin-right: 10%;
}

.icon {
  margin:20px;
}

.check {
  font-size: 1.8em;
  margin-bottom:10%;
}

.footer {
  position: relative;
  left:0;
  bottom: 0;
  background-color: #E53D00;
  font: white !important;
}

.green {
  border: solid 3px green;
}

.linkcolor{
  color:black;
}

